<h1>Your Todos</h1>

{{todo-list-form on-submit=(action "submitForm")}}
{{todo-list items=todos filter=todoFilter on-item-change=(action "updateTodo")}}
{{todo-list-filter on-change=(action "filterTodos")}}
