<label for="todo-form-add-title">Title</label>
{{input type="text" value=title placeholder="Title" id="todo-form-add-title"
        class="todo-list__form__title-input"}}
<button class="btn">Add</button>
<button class="btn" type="button" {{action "cancel"}}>Cancel</button>
