{{input type="text" value=title placeholder="Title"
        class="todo-list__form__title-input"}}
<button class="btn">Add</button>
<button class="btn" type="button" {{action "cancel"}}>Cancel</button>
