@import "todo_app_styles/scss/styles";

.todo-list-app {
  @include el(empty-message) {
    color: #333;
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

#sr-alert {
  @include sr-only();
}

.sr-text {
  @include sr-only();
}
